.column {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.side-column {
  width: calc(50vw - 40px);
}

#left-column {
  left: 0;
}

#right-column {
  right: 0;
}

#center-column {
  left: 0;
  right: 0;
}
